<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eren - About</title>
        <link rel="stylesheet" type="text/css" href="/css/about.css">

    </head>

    <body>
        <%- include('include/header.ejs') %>
        <div class="info">
            <div class="info-left yu">
                <h2>Know Who I Am</h2>
                <p class="p-av">
                    Hi Everyone, I am Eren from Turkey. <br><br>I am a High
                    School Student and I aim to do software
                    engineering.</p>
                <div class="ola">
                    <p>What I Do Alongside Website Development</p>
                    <div>
                        <p><i class="fa-regular fa-arrow-right"></i> Playing
                            Games</p>
                        <p><i class="fa-regular fa-arrow-right"></i> Bot
                            Developer</p>
                        <p><i class="fa-regular fa-arrow-right"></i> Package
                            Developer</p>
                        <p><i class="fa-regular fa-arrow-right"></i> App
                            Developer</p>
                    </div>
                </div>
            </div>

            <div class="info-right" id="info-right">
                <img class="about-img"
                    src="/img/about.gif"
                    alt>

            </div>
        </div>
        <div id="messageBox" class="hidden">
            <p>Bu sayfada sağ tıklamak yasaktır!</p>
        </div>
    </body>

</html>