<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- include('include/header.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/about.css"> <link
            rel="stylesheet" type="text/css" href="/css/social.css">

    </head>

    <body>
        <div class="centered-div">
            <div class="centered-top"><img src="/img/logo.png" class="kl"></div>
            <div class="centered-orta">
                <a href="https://www.instagram.com/dalga_gameplay/">
                    <div class="centered-a cv">
                        <i class="fa-brands fa-instagram lssss"></i> Instagram
                    </div>
                </a>
                <a href="https://twitter.com/dis_d_dev_tw">
                    <div class="centered-a cvv">
                        <i class="fa-brands fa-twitter ls"></i> Twitter
                    </div>
                </a>
                <a href="https://github.com/DalgaGamePlay">
                    <div class="centered-a ty ">
                        <i class="fa-brands fa-github lss"></i> Github
                    </div>
                </a>

            </div>
        </div>
    </body>

</html>
