body {
    background-color: #f1f1f1;
}

.info {
    height: calc(100vh - 15vh);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 12px;
    border-radius: 5px;
    justify-content: center;
    width: 96.7%;
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }

    .p-av {
        width: 230px;
    }


    .info-left,
    .info-right {
        width: 100%;
    }

    .info-right {
        display: none;
    }

    .about-img {
        display: none;
    }

}

.info-right {
    width: 100%;
    height: 568px;
    margin-left: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-img {
    margin-left: auto;
    display: flex;
    margin-right: 85px;
    height: 380px;
    width: 380px;
    cursor: pointer;
    object-fit: cover;
}

.p-av {
    padding: 10px;
    width: 85%;
    text-align: left;
    border-radius: 5px;
    border: 1px #dadada solid;
    color: rgb(2, 2, 2);

}

.hidden {
    display: none;
}

#messageBox {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b3b3bc2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.yu {
    width: 100%;
    height: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ola {
    padding: 10px;
    width: 85%;
    text-align: left;
    border-radius: 5px;
    border: 1px #dadada solid;
    color: rgb(2, 2, 2);
}