body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.spinner {
    width: 65px;
    height: 65px;
    border: 3.6px solid #ff5733;
    border-top: 3.6px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}